<html>
    <head>
        <title>Trameses - Giuli</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>Gestor de trameses de Programació i Robòtica</h1>
        <h2>Consulta una Tramesa</h2>
        <h2 class="warning">Sistema en proves: no representatiu de l'interfície final.</h2>
        <form method="POST" enctype="multipart/form-data">
            Usuari: <select name="user">
                {{ userlist|safe }}
            </select><br>
            Contrasenya: <input type="password" name="password"><br>
            Tasca: <select name="task">
                {{ options|safe }}
            </select><br>
            <input class="button" type="submit" value="Consulta">
        </form>
        <a href="/..">Torna</a>
    </body>
</html>