<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Trameses - Giuli</title>
</head>
<body>
    <h1>Gestor de trameses de Programació i Robòtica</h1>
    <h2>Estat de les trameses</h2>
    <h3>Llegenda: NQ-No Qualificat, NA-No Assolit, AS-Assoliment Satisfactori, AN-Assoliment Notable, AE-Assoliment Excel·lent</h3>
    <table>
        <tr>
            <th>User</th>
            {% for task in tasks %}
                <th>{{ task }}</th>
            {% endfor %}
        </tr>
        {% for user_status in user_task_status %}
            <tr>
                <td>{{ user_status['user'] }}</td>
                {% for task in tasks %}
                    <td>{{ user_status[task] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="/..">Torna</a>
</body>
</html>