<html>
    <head>
        <title>Trameses - Giuli</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        
        <h1>Gestor de trameses de Programació i Robòtica</h1>
        <h2>Utilitza aquesta pàgina per entregar les teves tasques.</h2>
        <h3 href=https://giuli.cat>Creat per: <span class="name">Pau Giuli</span> </h3>
        <a href="/enviament">Envia una tasca</a>
        <a href="/estat">Comprova l'estat de les trameses</a>
        <a href="/consulta">Consulta una tramesa</a>

        <a href=https://github.com/pgiuli/gestor-trameses style="margin-top: 5vh;">GitHub Repository</a>
        
    </body>
</html>