<html>
    <head>
        <title>Trameses - Giuli</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>Gestor de trameses de Programació i Robòtica</h1>
        <p>Utilitza aquesta pàgina per entregar les teves tasques.</p>
        <h3 href=https://giuli.cat>Creat per: Pau Giuli</h3>
        <br>
        <a href="/enviament">Envia una tasca</a>
        <a href="/estat">Comprova l'estat de les trameses</a>
        <br>
        <a href=https://github.com/pgiuli/gestor-trameses>GitHub Repository</a>
        
    </body>
</html>